.newsLetterBg {
    background-image: url('https://i.ibb.co.com/4WnDbB1/bg-shadow.png');
    background-color: white;
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
}